# Python

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so


# Virtual environments

venv/
.venv/
env/
ENV/
.env
.env.*


# Django – local

# Database                                                                                                                                                                           
*.sqlite3

# Local settings
settings_local.py
local_settings.py

# Media & collected static
media/
staticfiles/
models/vosk/

# Django cache / temp
.cache/
*.log
tmp_test_media/
tmp_test_speech/

.pytest_cache/
.coverage
htmlcov/


# OS / IDE

.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo


# Build / dist

build/
dist/
*.egg-info/
