<!-- templates/accounts/dashboard.html -->
{% extends "base.html" %}
{% block title %}Панель{% endblock %}
{% block content %}
  <h1>Панель</h1>

  {% if role == "ADMIN" %}
    <p>Роль: Администратор</p>
    <p><a class="btn" href="/admin/">Открыть Django admin</a></p>
    <p><a href="/courses/">Список курсов</a></p>
  {% elif role == "STUDENT" %}
    <p>Роль: Ученик</p>
    <p class="muted">Цикл: {{ user.profile.get_cycle_display }}</p>
    <h2>Мой класс</h2>
    {% if courses %}
      <p><a class="btn" href="/courses/">Открыть класс</a></p>
    {% else %}
      <p class="muted">Класс не назначен. Обратитесь к администратору.</p>
    {% endif %}
  {% elif role == "PARENT" %}
    <p>Роль: Родитель</p>
    <p><a class="btn" href="/courses/">Открыть класс</a></p>
  {% elif role == "TEACHER" %}
    <p>Роль: Преподаватель</p>
    <h2>Мой класс</h2>
    {% if courses %}
      <p><a class="btn" href="/courses/">Открыть класс</a></p>
    {% else %}
      <p class="muted">Класс не назначен. Обратитесь к администратору.</p>
    {% endif %}
  {% else %}
    <p class="muted">Неизвестная роль.</p>
  {% endif %}
{% endblock %}
