{% load static %}
<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{% block title %}Музыкальная школа — журнал{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
  <header class="site-header">
    <div class="container header-row">
      <div class="brand">
        <a href="/dashboard">Журнал (демо)</a>
      </div>
      <nav class="nav">
        {% if user.is_authenticated %}
          {% if user.profile.role == "TEACHER" %}
            <a href="/teacher/class/">Класс</a>
          {% else %}
            <a href="/courses/">Класс</a>
          {% endif %}
          <a href="/profile/">Профиль</a>
          <a href="/logout">Выйти</a>
        {% else %}
          <a href="/login">Вход</a>
        {% endif %}
      </nav>
    </div>
  </header>

  <main class="container">
    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <div class="message {{ message.tags }}">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}

    {% block content %}{% endblock %}
  </main>

  <footer class="site-footer">
    <div class="container">
      <small>Демо-проект: музыкальная школа · Django · SQLite</small>
    </div>
  </footer>

  {% if user.is_authenticated %}
    <nav class="bottom-nav">
      <a class="bottom-link {% if request.path|slice:':10' == '/calendar/' %}active{% endif %}"
       href="/calendar/">Календарь</a>

      <a class="bottom-link {% if request.path|slice:':9' == '/lessons/' %}active{% endif %}"
       href="/lessons/">Уроки</a>

      <a class="bottom-link {% if request.path|slice:':12' == '/attendance/' %}active{% endif %}"
       href="/attendance/">Посещаемость</a>

      <a class="bottom-link {% if request.path|slice:':7' == '/goals/' %}active{% endif %}"
       href="/goals/">Полугодия</a>

      {% if user.profile.role == "STUDENT" or user.profile.role == "PARENT" %}
        <a class="bottom-link {% if '/students/' in request.path or '/portfolio/' in request.path %}active{% endif %}"
         href="/portfolio/">Профиль</a>
      {% endif %}
  </nav>
{% endif %}

</body>
</html>
